body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #5DADE2;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #D5D8DC;
    border: 1px solid #D5D8DC;
    
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="date"],
  button {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  footer {
    background-color: #5DADE2;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  